body {
  font-family: Poppins, sans-serif;
  background: #fdf5e6;
  margin: 0;
  padding: 20px;
}

body {
  font-family: Poppins, sans-serif;
  background: #fdf5e6;
  margin: 0;
  padding: 20px;
}
#catalog {
  display: grid;
  gap: 16px;
  padding: 10px;
  margin: 0 auto;
  max-width: 1200px;

  /* Обязательно! Минимальная ширина 320px для читаемости */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}


/* Дополнительно можно ограничить максимальную ширину, чтобы не было слишком растянутых карточек */
@media (min-width: 1400px) {
  #catalog {
    max-width: 1360px;
  }
}

.card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px; /* важно! */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  word-wrap: break-word;
}


.card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(59, 59, 59, 0.1);
}

.card img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  border-radius: 4px;
  margin-bottom: 8px;
}


.card h3 {
  font-size: 1rem;
  margin: 0;
  color: #333;
  word-break: normal;
  hyphens: auto;
}

.card-content button {
  background: #f90;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logotype img{
  position: absolute;
  width: 80px;
  height: 80px;
  justify-content: flex-end;
  top: 20px;
  right: 20px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  border-radius: 15px;
  position: relative;
  text-align: center;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}
/* Адаптивность */
@media (max-width: 1024px) {
  .card {
    flex: 0 0 calc(33.33% - 11px); /* 3 в ряд */
    max-width: calc(33.33% - 11px);
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 8px); /* 2 в ряд */
    max-width: calc(50% - 8px);
  }
}

@media (max-width: 480px) {
  .card {
    flex: 0 0 100%; /* 1 в ряд */
    max-width: 100%;
  }
}

@media (max-width: 1080px) {
  .logotype {
    display: none;
  }
}